body {
  background-color: #DC143C;
  color: white;
}

#pfp {
  position: absolute;
  top: 15%;
  left: 36%;
  border: solid;
}

#username {
  color: white;
  position: absolute;
  top: 35%;
  left: 32.5%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 53px;
  font-family: Arial;
}

#streak {
  background-color: #23272A;
  color: white;
  position: absolute;
  top: 48%;
  left: 5%;
  border: #7FFF00 solid 10px;
  border-radius: 20px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}

#xp {
  background-color: #23272A;
  position: absolute;
  top: 48%;
  right: 5%;
  border: #7FFF00 solid 10px;
  border-radius: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}

#league {
  background-color: #23272A;
  position: absolute;
  top: 50%;
  right: 33.5%;
  border: #7FFF00 solid 10px;
  border-radius: 20px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}
