body {
  background-color: #DC143C;
  color: white;
}

#profile {
  text-align: center;
}

#pfp {
  position: absolute;
  top: 15%;
  left: 36%;
}

#username {
  color: white;
  position: absolute;
  top: 35%;
  left: 31%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 53px;
}

#streak {
  background-color: #23272A;
  color: white;
  position: absolute;
  top: 48%;
  left: 5%;
  border: #7FFF00 solid 5px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
}

#xp {
  background-color: #23272A;
  position: absolute;
  top: 48%;
  right: 5%;
  border: #7FFF00 solid 5px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
}

#league {
  background-color: #23272A;
  position: absolute;
  top: 50%;
  right: 32.9%;
  border: #7FFF00 solid 5px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
}
