body {
  background-color: #DC143C;
  color: white;
}

#profile {
  text-align: center;
}

#pfp {
  position: absolute;
  top: 15%;
  left: 36%;
}

#username {
  color: white;
  position: absolute;
  top: 35%;
  left: 33%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 53px;
  font-family: Arial;
}

#streak {
  background-color: #23272A;
  color: white;
  position: absolute;
  top: 48%;
  left: 5%;
  border: #7FFF00 solid 15px;
  border-radius: 20px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}

#xp {
  background-color: #23272A;
  position: absolute;
  top: 48%;
  right: 5%;
  border: #7FFF00 solid 15px;
  border-radius: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}

#league {
  background-color: #23272A;
  position: absolute;
  top: 50%;
  right: 35%;
  border: #7FFF00 solid 10px;
  border-radius: 20px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
}
